@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-body: 244, 248, 251;
        --border-color: 57, 57, 69;
        --gray-100: 245, 248, 250;
        --gray-200: 239, 242, 245;
        --gray-300: 228, 230, 239;
        --gray-400: 181, 181, 195;
        --gray-500: 161, 165, 183;
        --gray-600: 126, 130, 153;
        --gray-700: 94, 98, 120;
        --gray-800: 63, 66, 84;
        --gray-900: 24, 28, 50;

        --gray-dark-100: 27, 27, 41;
        --gray-dark-200: 43, 43, 64;
        --gray-dark-300: 50, 50, 72;
        --gray-dark-400: 71, 71, 97;
        --gray-dark-500: 86, 86, 116;
        --gray-dark-600: 109, 109, 128;
        --gray-dark-700: 146, 146, 159;
        --gray-dark-800: 205, 205, 222;
        --gray-dark-900: 255, 255, 255;

        --primary: 54, 153, 255;
        --primary-active: 24, 125, 228;
        --primary-light: 241, 250, 255;
        --primary-light-dark: 33, 46, 72;

        --success: 27, 197, 189;
        --success-active: 11, 183, 175;
        --success-light: 201, 247, 245;
        --success-light-dark: 28, 56, 51;

        --info: 137, 80, 252;
        --info-active: 115, 55, 238;
        --info-light: 238, 229, 255;
        --info-light-dark: 47, 38, 79;

        --warning: 255, 168, 0;
        --warning-active: 238, 157, 1;
        --warning-light: 255, 244, 222;
        --warning-light-dark: 57, 47, 40;

        --danger: 246, 78, 96;
        --danger-active: 238, 45, 65;
        --danger-light: 255, 226, 229;
        --danger-light-dark: 58, 36, 52;

        --sidebar-dark: 30, 30, 45;
        --sidebar-heading: 100, 100, 119;
        --sidebar-icon: 197, 197, 216;
    }

    h1 {
        font-size: 1.422rem;
    }
    h2 {
        font-size: 1.219rem;
    }
    h3 {
        font-size: 1.097rem;
    }
    h4 {
        font-size: 1.016rem;
    }
    h5 {
        font-size: 0.934rem;
    }
    h6 {
        font-size: 0.872rem;
    }
}
